@font-face {
	font-family: 'BIG JOHN';
	src: url('../fonts/BIG JOHN.eot');
	src: local('☺'), url('../fonts/BIG JOHN.woff') format('woff'), url('../fonts/BIG JOHN.ttf') format('truetype');
//	font-weight: normal;
//	font-style: normal;
}

@font-face {
	font-family: 'open-sans-regular';
	src: url('../fonts/OpenSans-Regular.eot');
	src: local('☺'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'open-sans-bold';
	src: url('../fonts/OpenSans-Bold.eot');
	src: local('☺'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Source-Sans-Pro';
	src: url('../fonts/SourceSansPro-Light.eot');
	src: local('☺'), url('../fonts/SourceSansPro-Light.woff') format('woff'), url('../fonts/SourceSansPro-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source-Sans-Pro-Black';
	src: url('../fonts/SourceSansPro-Black.eot');
	src: local('☺'), url('../fonts/SourceSansPro-Black.woff') format('woff'), url('../fonts/SourceSansPro-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



